@font-face {
  font-family: NanumSquare;
  src: url(NanumSquareR.eot) format('embedded-opentype'),
       url(NanumSquareR.woff) format('woff'),
       url(NanumSquareR.ttf) format('truetype'); 
  font-weight : 600;
}

* { 
  font-family : NanumSquare , sans-serif;
}

body,h1,h2 {
  margin:0px;
  padding:0px;
}

body {
  display: flex;
  width: 100%;
}

.nav {
  background-color: #deb8c2;
  width: 15%;
}

.nav-name{
  margin: 40px;
  margin-left: 60px;
  color: rgb(130, 0, 74);
  letter-spacing: 3px;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  border: groove 1em rgb(219, 155, 163);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
  color: rgb(130, 0, 74);
}

a:hover { 
  color:white
}

li {
  margin-bottom: 10px;
  align-items: center;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  text-shadow: 2px 2px 2px rgb(222, 205, 209);
}

.main {
  width: 85%;
  margin-left: 40px;
  height: 100vh;
}

.image {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 70px;
  margin-right: 30px;
}

.contact {
  margin-top: 30px;
  margin: 5% 5% 5% 5%;
}

.text-wrapper{
  float: left;
  margin-top: 40px;
}

.contact-way{
  float: left;
  width: 30%;

}

.contact-context{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bottom-context{
  margin-top: 70px;
  font-size: 60px;
  width: 100%;
  text-align: center;
}

.link {
  color: inherit;
}

.link:hover { 
  color:rgb(226, 72, 106); 
}